# Gradle
.gradle/
**/build/

# Kotlin/Java output
out/
*.class

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Linux
*~
.directory

# Env
.env

# Extras
*.drawio